<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tvfacebookblock</name>
	<displayName><![CDATA[TV Facebook block]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Displays a block for subscribing to your Facebook page.]]></description>
	<author><![CDATA[Themesvip]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>